<server description="GalenosSV">

    <featureManager>
        <feature>jakartaee-11.0</feature>
    </featureManager>

    <variable name="HTTP_PORT" defaultValue="9080"/>
    <variable name="HTTPS_PORT" defaultValue="9443"/>
    <variable name="POSTGRESQL_DB_HOST" defaultValue="localhost"/>
    <variable name="POSTGRESQL_DB_PORT" defaultValue="5432"/>
    <variable name="POSTGRESQL_DB_NAME" defaultValue="universidad"/>
    <variable name="POSTGRESQL_JDBC_DRIVER_DIR" defaultValue="${server.config.dir}/jdbc"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${HTTP_PORT}"
                  httpsPort="${HTTPS_PORT}"/>

    <webApplication id="GalenosSV"
                    name="GalenosSV"
                    location="GalenosSV.war"
                    contextRoot="/GalenosSV"/>

    <library id="PostgreSQLJdbcLib">
        <fileset dir="${POSTGRESQL_JDBC_DRIVER_DIR}"
                 includes="postgresql-42.7.4.jar"/>
    </library>

    <dataSource id="pgdb" jndiName="jdbc/pgdb">
        <jdbcDriver libraryRef="PostgreSQLJdbcLib"/>
        <properties.postgresql serverName="${POSTGRESQL_DB_HOST}"
                               portNumber="${POSTGRESQL_DB_PORT}"
                               databaseName="${POSTGRESQL_DB_NAME}"/>
        <containerAuthData user="${POSTGRESQL_DB_USER}"
                           password="${POSTGRESQL_DB_PASSWORD}"/>
    </dataSource>

</server>
